.main_container {width:1200px; margin:auto;}
.heading {width:100%; float:left;}
.heading h1 {font-family:Candara; text-align:center;}

.left_top_main {width:20%; float:left;}

.left_top {width:100%; float:left; background:#03A9F4;}
.left_down {width:100%; float:left; background:black;}
.left_down h2 {color:white; margin:-20px 0 0 55px; font-family:Candara; font-size:18px;}
.user2 {color:#03A9F4; margin:30px 0 0 30px; font-size:18px;}

.hr0 {width:70%; float:left; margin:-5px 0 0 30px;}
.phone {width:100%; float:left;}
.phone h3 {color:white; margin:-25px 0 0 65px; font-family:Candara; font-size:16px;}
.phone p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}
.volume {color:white; margin:15px 0 0 30px; font-size:14px;}

.email {width:100%; float:left;}
.email h3 {color:white; margin:-25px 0 0 60px; font-family:Candara; font-size:16px;}
.email p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}
.text_mail {color:white; margin:20px 0 0 30px; font-size:14px;}

.address {width:100%; float:left;}
.address h3 {color:white; margin:-25px 0 0 60px; font-family:Candara; font-size:16px;}
.address p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}
.chimney {color:white; margin:20px 0 0 30px; font-size:14px;}

.reader {color:#03A9F4; margin:30px 0 0 30px; font-size:18px;}
.hr01 {width:70%; float:left; margin:-5px 0 0 30px;}
.education {width:100%; float:left;}
.education h3 {color:white; margin:-42px 0 0 60px; font-family:Candara; font-size:16px;}
.education h4 {color:white; margin:0 0 0 60px; font-family:Candara; font-size:15px;}
.education p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}

.chevron3 {color:white; margin:30px 0 0 30px; font-size:18px;}



.twelth {width:100%; float:left;}
.twelth h3 {color:white; margin:-42px 0 0 60px; font-family:Candara; font-size:16px;}
.twelth h4 {color:white; margin:0 0 0 60px; font-family:Candara; font-size:15px;}
.twelth p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}

.degree {width:100%; float:left;}
.degree h3 {color:white; margin:-40px 0 0 60px; font-family:Candara; font-size:16px;}
.degree h4 {color:white; margin:0 0 0 60px; font-family:Candara; font-size:15px;}
.degree p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}

.ekeeda {width:100%; float:left;}
.ekeeda h3 {color:white; margin:-35px 0 0 60px; font-family:Candara; font-size:16px;}
.ekeeda h4 {color:white; margin:0 0 0 60px; font-family:Candara; font-size:15px;}
.ekeeda p {color:white; color:#666; margin:0 0 0 60px; font-family:Candara; font-size:14px;}

.glob {color:#03A9F4; margin:38px 0 0 30px; font-size:18px;}
.language_bar {width:100%; float:left;}
.language_bar ul {color:#666; margin:0 0 0 10px;}
.language_bar ul li {color:#666; margin:10px 0 0 0; font-family:Candara;}




.left_top img {width:60%; margin:30px 0 0 50px; border:1px solid white; border-radius:80px;}
.name {width:80%; float:left;}
.name h1 {font-family:Candara; color:brown; text-align:center; margin:0 0 5px 69px; height:55px;}
.post {width:100%; float:left;}
.post h5 {font-family:Candara; margin-left:60px;}
.right_up {width:56%; float:left;}
.user {margin:38px 0 0 45px; color:white; background:#03A9F4; font-size:10px; padding:6px; border-radius:20px;}
.info {width:100%; float:left;}
.info h2 {margin:-24px 0 -4px 80px; font-family:Candara; font-size:20px;}

.hr1 {width:100%; float:left;}
.hr1 {margin-left:45px;}
.summary {width:100%; float:left;}
.summary p {margin-left:45px; color:#666; font-family:Candara; font-size:17px;}
.experience {width:100%; float:left;}
.experience h2 {margin:-28px 0 -4px 80px; font-family:Candara; font-size:20px;}
.briefcase {margin:20px 0 0 45px; color:#03A9F4; font-size:20px;}
.hr2 {width:100%; float:left;}
.hr2 {margin-left:45px;}
.work_experience1 {width:100%; float:left;}
.work_experience1 h3 {margin:-21px 0 0 75px; font-family:Candara;}
.work_experience1 h4 {margin:0 0 0 75px; font-family:Candara;}
.work_experience1 p {margin:0 0 0 75px; color:#666; font-family:Candara;}

.chevron {margin:30px 0 0 45px;}
.chevron2 {margin:50px 0 0 45px;}
.date {width:100%; float:right; font-family:Candara;}
.date h3 {margin:-140px 0 0 550px;}

.work_experience2 {width:100%; float:left;}
.work_experience2 h3 {margin:-21px 0 0 75px; font-family:Candara;}
.work_experience2 h4 {margin:0 0 0 75px; font-family:Candara;}
.work_experience2 p {margin:0 0 0 75px; color:#666; font-family:Candara;}
.date2 {width:100%; float:right; font-family:Candara;}
.date2 h3 {margin:-100px 0 0 550px;}
.skills {width:100%; float:left;}
.skills h2 {margin:-24px 0 -4px 80px; font-family:Candara; font-size:20px;}
.hr3 {width:100%; float:left;}
.hr3 {margin-left:45px;}

.skill_icon {margin:40px 0 0 45px; color:white; padding:4px; border-radius:15px; background:#03A9F4; font-size:15px;}

{box-sizing: border-box}

.skills_container {width: 100%; background-color: #ddd; margin:5px 0 0 0;}
.skills_bar {width:100%; float:left; margin:-12px 0 0 45px;}
.skills_bar p {font-family:Candara; margin:10px 0 0 0; font-weight:600;}


.skills_html{width:90%; background-color: #04AA6D; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;}
.skills_css{width:80%; background-color: #2196F3; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;}
.skills_js{width:60%; background-color: #f44336; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;}
.skills_wd{width:60%; background-color: #808080; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;}

.hobbies {width:100%; float:left;}
.hobbies h2 {margin:-24px 0 -4px 75px; font-family:Candara; font-size:20px;}

.access {margin:30px 0 0 45px; color:#03A9F4; font-size:22px;}

.hobbies0 {width:100%; float:left;}
.hobbies0 h4 {margin:10px 0 0 70px;}
/* .hobbies0 ul {margin:0 0 0 20px;} */
/* .hobbies0 ul li {margin:10px 0 0 0; font-family:Candara;} */
.icons {width:2%; float:left; color:green;}
.taxi {margin:10px 0 0 44px;}

.icons2 {width:2%; float:left; color:red;}
.tennis {margin:10px 0 0 44px;}

.icons3 {width:2%; float:left; color:blue;}
.music {margin:10px 0 0 44px;}




/* .language_container {width: 100%; background-color: #ddd;} */
/* .language_bar {width:100%; float:left; margin:-16px 0 0 45px;} */
/* .skills_bar p {font-family:Candara;} */


/* .english {width:90%; background-color: #04AA6D; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;} */
/* .hindi {width:80%; background-color: #2196F3; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;} */
/* .punjabi {width:60%; background-color: #f44336; text-align:right; padding-top: 10px; padding-bottom: 10px; color: white;} */


